body, button, input, select, textarea { font-family: sans-serif; color: #333; }
a:visited { color: #61C; }
a:focus { outline: thin dotted; }
a:hover, a:active { color: #c00; outline: 0; }

b, strong { font-weight: bold; }
ul { margin: 1em 0; padding: 0 0 0 20px; }
header, footer, .container { max-width: 45em; margin: 0 auto; }

footer {
  padding: 0 0.5em;
  border-top: 1px solid #ccc;
}
footer span { float: right; font-style: italic; }
